name: Publish Package to npmjs
on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.13.0
          check-latest: true
          registry-url: 'https://registry.npmjs.org'
      - run: corepack enable
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - run: pnpm clean-package -- ava packageManager devDependencies scripts
      - run: npm install -g npm@latest
      - run: npm publish --access public
